<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../styles/style.css">
	<title>Nutrición - Almij Academy</title>
</head>
<body>
	 <!-- Sección inicio -->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>ALMIJ ACADEMY</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="../index.html#inicio" onclick = "seleccionar(this)">INICIO</a></li>
                            <li><a href="../index.html#sobremi" onclick = "seleccionar(this)">SOBRE NOSOTROS</a></li>
                            <li><a href="../index.html#servicios" onclick = "seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="../index.html#portfolio" onclick = "seleccionar(this)">MATERIAS</a></li>
                            <li><a href="../index.html#contacto" onclick = "seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>
                    <!-- Iconos de las redes sociales -->
                    <div class="redes">
                        <a href=""><img src="../icons/github-original.svg"></a>
                        <a href=""><img src="../icons/instagram-original.svg"></a>
                        <a href=""><img src="../icons/facebook-oval.svg"></a>
                    </div>
                    <!-- Iconos del menu responsive -->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <img src="./icons/menu.svg">
                    </div>
                    
                </div>
            </header>
           <!-- Presentación -->
            <div class="presentacion">
                <p class="bienvenida">Bienvenido</p>
                <h2>A la sección <span>Nutrición</span> esperamos encuentres lo que necesitas</h2>
                <p class="descripcion"></p>
                <a href="#cursos">VER MAS</a>
            </div>
        </div>
    </section>

    <footer>
        <p>Todos los derechos reservados -- Almij Academy 2023 ©</p>

        <div class="redes-footer">
            <a href=""><img src="../icons/github-original.svg"></a>
            <a href=""><img src="../icons/instagram-original.svg"></a>
            <a href=""><img src="../icons/facebook-oval.svg"></a>
        </div>
    </footer>
	<script type="text/javascript" src="./scripts/main.js"></script>
</body>
</html>